#container{
    max-width: 876px;
    margin: 0 auto;
}

.card{
    background-color: rgba(255, 255, 255, 0.726);
    margin: 2px;
}
.card-body{
    text-align: center;
    
}

.btn{
    background-color: #11808C;
    border-color: rgba(17, 128, 140, 0.664);
}

/* ****************************************************
---------------------- LOGIN --------------------------
****************************************************** */

.login-form {
    position: fixed;
    /* only to center the login form */
    width: 200px;
    max-height: 250px;
    left: 50%;
    top: 50%;
    margin-left:  -100px;
    margin-top: -125px;
  }
.form-label{
    color: white
}

.form-check-label{
    color: white
}
  #signUpButton{
    float: right;
  }

  .error-message {
      color: red;
  }
  

  /* ****************************************************
---------------------- REGISTER --------------------------
****************************************************** */

#register-form{
    top: 40%
}





/* ****************************************************
---------------------- PICTURES -----------------------
****************************************************** */


body{
    
    z-index: 0;
}

#shop-building{
    position: absolute;
    margin: 330px 0 0 800px;
    z-index: -2;
}

#shop-building:hover{
    opacity: 0.9;
}

#shop-sign{
    position: absolute;
    margin: 470px 0 0 700px;
    z-index: -2;
}

#shop-sign:hover{
    transform: rotate(360deg);
    transition: transform 0.6s;
}

#character-building{
    position: absolute;
    margin: 320px 0 0 80px;
    z-index: -2;
}

#character-building:hover{
    opacity: 0.9;
}


/* ****************************************************
---------------------- SHOP ---------------------------
****************************************************** */

#store-container{
    position: relative;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;

}

#shop-keeper{
    position: relative;
    display: block;
    width: 100%;
    z-index: -1;
    
}
#shop-menue{
    position: absolute;
    color: white;
    top: 155px;
    right: 240px;
    z-index: 10;
    font-size: 1.5rem;
    font-family: 'MedievalSharp', cursive;
    font-style: bold;
    list-style-type: none;
}


.shop-menue-item:hover{
    color: #A66F0A;
    text-decoration: underline;
}


.store-item-container{
    top: 75px;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.store-item{
    margin: 0 auto;
    position: relative;
}
.store-item-background-image{
    position: relative;
}

.store-item-image{
    position: absolute;
    left: 125px;
    top: 35px;
}

.store-item-name{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5em;
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    top: 85px;
}

.store-item-description{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 125px;
    line-height: 15px;
}

.store-item-button{
    background-image: url(./img/add-ons/button-unclicked.png);
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    background-size: 100% 100%;
    position: absolute;
    width: 50%;
    height: 50px;
    left: 25%;
    bottom: 10%;
}

.store-item-button:hover{
    background-image: url(./img/add-ons/button-clicked.png);
}

.close-button{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    background-image: url(./img/add-ons/button.png);
    background-size: 100% 100%;
    border: none;
}

.close-button:hover{
    background-image: url(./img/add-ons/button1.png)
}

#store-select-container{
    padding-top: 10px;
    position: absolute;
    background-image: url(./img/add-ons/panel-brown.png);
    width: 350px;
    left: 33%;
    min-height: 150px;
    flex-grow: auto;
    margin: 0 auto;
    top: 150px;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.store-select-character{
    position: relative;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5em;
    font-style: bold;
    width: 175px;
    height: 100px;
    text-align: center;
    line-height: 50px;
    top: 40px;
    background-image: url(./img/add-ons/button-unclicked.png);
    background-size: 100% 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.store-select-character:hover{
    background-image: url(./img/add-ons/button-clicked.png);
}

.store-select-character-stats{
    margin-top: -10px;
    line-height: 0.8em;
    font-size: 0.6em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: none;
}

.close-select-panel:hover{
    background-image: url(./img/add-ons/button1.png)
}
/* ****************************************************
----------------------- NAVBAR ------------------------
****************************************************** */

#navbar {
    font-family: 'MedievalSharp', cursive;
    font-style: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #732C02;
  }
  
#navbar li {
    float: left;
  }
  
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#money {
    position: absolute;
    background-color: #3D5912;
    right: 0px;
}
  
  /* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #A66F0A;
  }

